html{
    background:darkgrey;
}
body {
    background-color: white;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    width: 700px;
    margin-left: auto; 
    margin-right: auto; 
   }
.datos{
    font-size: 11pt;
    font-family: Calibri;
    color: #000000;
    text-align:right;
    margin-left: auto; 
    margin-right: auto; 
}

.titulo {
    text-align:center;
    font-weight: bold;
    font-size: 15.8pt;
    color: #419fb9;
}
.texto1{
    text-align: justify; 
    font-size: 15pt;
    font-family: Arial Nova Cond;
    color: #525252;
}
.texto2 {
    text-align: justify;
    top: 4.9in;
    left: 5.14in;
    width: 4in;
    height: 1.56in;
    font-size: 16pt;
    font-family: Arial Nova Cond;
    color: #525252;
}
.titcol{
    position: absolute;
    top: 3.69in;
    margin-left: auto; 
    margin-right: auto; 
    width: 2.71in;
    line-height: 0.40in;
    font-size: 22;
    font-family: Berlin Sans FB Demi;
}
.caja{
    text-align: justify;
    position: absolute;
    top: 4.9in;
    left: 7.8in;
    width: 2.815in;
    height: 1.56in;
    border: 2px solid black;
    font-style: normal;
    font-weight: normal;
    font-size: 13pt;
    font-family: Calibri;   
}
.texto3{
    text-align: right;
    font-size: 16pt;
    font-family: Arial Nova Cond;
    color: #525252;
}
.texto4 {
    font-size: 16pt;
    font-family: Arial Nova Cond;
    color: #525252;
}
.texto4_1{
    position: relative;
    left: 0.75in;
    width: 6.5in;
    height: 1in;
    font-style: normal;
    font-weight: normal;
    font-size: 16pt;
    font-family: Arial Nova Cond;
    color: #525252;
}
